h1 {
  text-align: center;
}

#container, #header, #button, #tracker-area, #announcement-area {
  display: flex;
  justify-content: center;
  margin: 20px;
  width: 100%;
}

#container {
  height: 500px;
}

#board {
  width: 50%;
  height: 100%;
  border-collapse: collapse;
  font-size: 30px;
}

tbody {
  height: 100%;
  width: 100%;
}

.position {
  height: 50px;
  width: 50px;
  text-align: center;
}

.row:first-child > td, .row:nth-child(2) > td {
  border-bottom: 1px solid black;
}

.row:first-child > td:not(:last-child), .row:nth-child(2) > td:not(:last-child) {
  border-right: 1px solid black;
}

.row:last-child > td:not(:last-child) {
  border-right: 1px solid black;
}

#tracker-area {
  width: 100%;
}

#tracker {
  width: 15%;
  border-collapse: collapse;
}

.winCounts > td {
  text-align: center;
  border: 1px solid black;
  height: 25px;
}



